# Virtual environments
.venv/
venv/
env/
ENV/
.env

# Python cache & compiled files
__pycache__/
*.py[cod]
*$py.class

# Build and packaging directories
build/
dist/
*.spec
*.egg-info/
.eggs/

# Crash reports and logs
nuitka-crash-report.xml
pyarmor.bug.log
*.log

# IDEs
.idea/
.vscode/

# Ignore test pages and large compressed items if any
*.zip
*_test_page*.html
